@charset "UTF-8";
/* Variables para colores */
body {
  background-color: #f2e3cb;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

body {
  background-color: #f2e3cb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #8B4513; }
  body .container {
    padding: 20px; }

body {
  background-color: #f2e3cb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #8B4513; }
  body .container {
    padding: 20px; }

body {
  background-color: #f2e3cb;
  font-family: Arial, sans-serif; }

footer {
  background-color: #5c4632;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed; }

.footer {
  background-color: #8B4513;
  color: white; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #573f28;
  color: white;
  text-align: center;
  padding: 20px 0;
  height: 7vh; }

.gallery {
  margin-top: 20px; }
  .gallery .col-md-4 img {
    width: 100%;
    border: 3px solid #fff;
    transition: transform 0.3s;
    /* Agrega una animación de transformación */
    cursor: pointer; }
    .gallery .col-md-4 img:hover {
      transform: scale(1.05);
      /* Escala la imagen en un 5% en el hover */ }

main {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  main img {
    max-width: 100%; }
  main h2 {
    color: #573f28; }
  main p {
    color: #333;
    /* Color de texto oscuro */ }

.navbar {
  margin-top: 0;
  /* Elimina el espacio superior */
  padding: 0.5rem 0;
  /* Ajusta el relleno vertical */
  background-color: #8B4513; }
  .navbar a {
    color: white;
    transition: color 0.3s; }
    .navbar a:hover {
      color: #573f28; }

.carousel {
  margin-top: 20px; }

.content {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; }

.container h1, .container h2 {
  color: #8B4513; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container {
  animation: fadeIn 1s; }

iframe {
  width: 100%;
  height: 400px; }
