footer {
    background-color: $color-footer-fondo;
    color: $color-texto-footer;
    padding: 20px 0;
    text-align: center;
    position: fixed;
}
.footer {
    background-color: $color-marron-claro;
    color: white;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #573f28;
    color: white;
    text-align: center;
    padding: 20px 0;
    height: 7vh;
  }