/* Variables para colores */
$color-primario: #573f28;
$color-fondo: #f2e3cb;
$color-footer-fondo: #5c4632;
$color-texto-footer: white;
$color-marron-claro: #8B4513;
$color-fondo: #f2e3cb;
$color-marron-claro: #8B4513;
$color-fondo: #f2e3cb;
$color-link-hover: #573f28;
