body {
    background-color: #f2e3cb;
    min-height: 100vh;
    position: relative;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #573f28;
    color: white;
}